.facilities-header{
    text-align: start;
    font-family: 'Offside';
    margin-bottom: 2em;
}
.sports-filter-container{
    text-align: start;
    font-family: 'Offside';
}
.filter-container > h2{
    font-family: 'Offside';
    text-align: start;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 1em 0;
}